<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Theme2_bgLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1778},{294,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,138}}</string>
                <key>sourceSize</key>
                <string>{294,138}</string>
            </dict>
            <key>Theme2_bgRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{292,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,147}}</string>
                <key>sourceSize</key>
                <string>{292,147}</string>
            </dict>
            <key>Theme2_map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,338},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map02.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,338},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1298},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,818},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,338},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map10.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme2_map12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Theme02.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08af8139d50dd79cb2274429db3f2030$</string>
            <key>textureFileName</key>
            <string>Theme02.png</string>
        </dict>
    </dict>
</plist>
