<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TBlueStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,325},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>TBlueStart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,165},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>TBottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,324},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>TBow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,272},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>TFireBottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,271},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>TIce.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,164},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>TLeaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,111},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>TPin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,219},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>TPlane.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>TRedStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,110},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>TRocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,218},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>TShit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,57},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>TSun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,56},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>TThunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,2},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>Theme3_bgLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{278,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,146}}</string>
                <key>sourceSize</key>
                <string>{278,146}</string>
            </dict>
            <key>Theme3_bgRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1818},{278,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,142}}</string>
                <key>sourceSize</key>
                <string>{278,142}</string>
            </dict>
            <key>Theme3_map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,674},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,674},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,378},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,338},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map05.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,338},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map10.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map11.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme3_map12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Theme03.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e0b7ba5dd4120b322df9d7f42e7a7d9$</string>
            <key>textureFileName</key>
            <string>Theme03.png</string>
        </dict>
    </dict>
</plist>
