<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueQue.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1985},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>GreenQue.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1931},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>OrangeQue.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1985},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>PinkQue.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1931},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>PurpleQue.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1985},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>TAnchor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1986},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>TFishBone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1931},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>TMushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1931},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>TOctopus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,285},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>TPurpleThunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,285},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>Theme04_bgLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{281,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,108}}</string>
                <key>sourceSize</key>
                <string>{281,108}</string>
            </dict>
            <key>Theme4_bgRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1779},{271,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,150}}</string>
                <key>sourceSize</key>
                <string>{271,150}</string>
            </dict>
            <key>Theme4_map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1010},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,674},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map03.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1634},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map04.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1154},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map05.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,674},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map06.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1634},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map07.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1154},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map08.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,674},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,338},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map10.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,338},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,338},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1299},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map16.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map17.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>Theme4_map18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,334}}</string>
                <key>sourceSize</key>
                <string>{478,334}</string>
            </dict>
            <key>YelloQue.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1986},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Theme04.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5236a57939fdf77c0523cd4685f86815$</string>
            <key>textureFileName</key>
            <string>Theme04.png</string>
        </dict>
    </dict>
</plist>
