<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{675,523}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{675,523}}</string>
                <key>sourceSize</key>
                <string>{675,523}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,875},{60,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,18}}</string>
                <key>sourceSize</key>
                <string>{60,18}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{92,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,19}}</string>
                <key>sourceSize</key>
                <string>{92,19}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,54},{65,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,17}}</string>
                <key>sourceSize</key>
                <string>{65,17}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,867},{65,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,147}}</string>
                <key>sourceSize</key>
                <string>{65,147}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,837},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{444,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,55}}</string>
                <key>sourceSize</key>
                <string>{444,55}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,880},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,833},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,837},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,837},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,301},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,96},{131,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,41}}</string>
                <key>sourceSize</key>
                <string>{131,41}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,770},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,688},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,703},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,54},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,54},{173,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,203}}</string>
                <key>sourceSize</key>
                <string>{173,203}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,786},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,139},{126,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,37}}</string>
                <key>sourceSize</key>
                <string>{126,37}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,718},{65,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,147}}</string>
                <key>sourceSize</key>
                <string>{65,147}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,862},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,492},{530,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,84}}</string>
                <key>sourceSize</key>
                <string>{530,84}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,862},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,569},{65,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,147}}</string>
                <key>sourceSize</key>
                <string>{65,147}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,867},{65,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,147}}</string>
                <key>sourceSize</key>
                <string>{65,147}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,229},{184,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,70}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,862},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,795},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,718},{65,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,147}}</string>
                <key>sourceSize</key>
                <string>{65,147}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,569},{65,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,147}}</string>
                <key>sourceSize</key>
                <string>{65,147}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,728},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,590},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{313,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,50}}</string>
                <key>sourceSize</key>
                <string>{313,50}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,492},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,676},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,178},{111,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,115}}</string>
                <key>sourceSize</key>
                <string>{111,115}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,636},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,569},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,875},{65,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,147}}</string>
                <key>sourceSize</key>
                <string>{65,147}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,875},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,661},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,594},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,527},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,527},{346,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,202}}</string>
                <key>sourceSize</key>
                <string>{346,202}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,502},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,425},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,435},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,358},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,368},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,301},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>56.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,291},{147,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,65}}</string>
                <key>sourceSize</key>
                <string>{147,65}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,73},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>58.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,399},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,31}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,339},{58,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,31}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,73},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,73},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{215,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,45}}</string>
                <key>sourceSize</key>
                <string>{215,45}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,527},{65,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,147}}</string>
                <key>sourceSize</key>
                <string>{65,147}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,895},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themescene1-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:092288c141ab336c4a4d71d5145978a4$</string>
            <key>textureFileName</key>
            <string>themescene1-hd.png</string>
        </dict>
    </dict>
</plist>
