<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{160,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,116}}</string>
                <key>sourceSize</key>
                <string>{160,116}</string>
            </dict>
            <key>cloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,471},{80,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>cloud03.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,406},{80,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>cloud04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{146,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,79}}</string>
                <key>sourceSize</key>
                <string>{146,79}</string>
            </dict>
            <key>cloud05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,536},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>cloud06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,155}}</string>
                <key>sourceSize</key>
                <string>{160,155}</string>
            </dict>
            <key>cloud07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{151,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,160}}</string>
                <key>sourceSize</key>
                <string>{151,160}</string>
            </dict>
            <key>cloud10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{159,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,153}}</string>
                <key>sourceSize</key>
                <string>{159,153}</string>
            </dict>
            <key>cloud11.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,326},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>cloud12.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,245},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>hlb0.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,326},{45,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,17}}</string>
                <key>sourceSize</key>
                <string>{45,17}</string>
            </dict>
            <key>start01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,150},{93,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,73}}</string>
                <key>sourceSize</key>
                <string>{93,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Object01-hd.pvr.ccz.png</string>
            <key>size</key>
            <string>{256,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd8e8605dcc76fe9c3f885330de0fd20$</string>
            <key>textureFileName</key>
            <string>Object01-hd.pvr.ccz.png</string>
        </dict>
    </dict>
</plist>
